#news-section{
    height: 850px;

    .container{
        width: 80%;
        margin: auto;

        .title-container{
            padding: 20px 0;
            text-align: center;

            h1{
                font-size: 36px;
            }
        }

        .parags-container p{
            padding: 40px 0;
            font-size: 22px;
        }
    }
}
